body{
	background-color: black;
}

#login_Form, #Register_Form {
	float: top;
	width: 300px;
	border: solid;
	border-color:  #330000;
	font-family: Sans-Serif;
	padding: 20px;
	border-radius: 25px;
	font-size: 12pt;
	font-weight: bold;
	background-color: #800000;
}

.background {
	background-image: url(../images/bg.png);
	background-repeat: no-repeat;
	height: 500px;
	float: right-side;
}


/*refers to title on Register.php*/
.title{
	font-size: 18pt;
	font-weight: bold;
	font-family: Sans-Serif;
	color: #800000;
	margin-left: 30px;
}


/*anything necessary for the body of this page*/
#chatroom{
	
}
/*where messages will appear*/
#chatbox{
	height: 400px;
	width: 550px;
	background-color: plum;
	overflow: scroll;
}

#im{
	width:500px;
	height:100px;
}

