#login {
	background: url(images/winebottle.png) no-repeat;
	background-attachment: fixed;
	background-position: 50% 50%;
}

#login_Form {
	float: center;
}

/*anything necessary for the body of this page*/
#chatroom{
	
}
/*where messages will appear*/
#chatbox{
	height: 400px;
	width: 550px;
	background-color: plum;
	overflow: scroll;
}

#im{
	/*height: 100px;
	width: 500px;*/
	width:500px;
	height:100px;
}